button {
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid white;
  font-family: inherit;
}

.primary {
  background: #7304f3;
  color: white;
  display: flex;
  font-size: 1rem;
}

.primary:hover {
  background-color: #5b01c2;
}
